body{
    background: url(https://static.vecteezy.com/system/resources/previews/024/066/548/non_2x/apocalyptic-scene-devastating-nuclear-explosion-and-its-effects-on-the-environment-ai-generated-free-photo.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}   

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.weather-box{
    border: 3px solid white;
    padding: 50px;
    border-radius: 30px;
    background-color: azure;
}